*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  /* background-color: aquamarine;
  background: linear-gradient(0deg,rgb(12, 90, 12),rgb(46, 20, 161));
  background-attachment: fixed; */
  background-image:url(./abstract-cover-blue-background-vector-954939.jpg);
  background-attachment: fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    padding: 10px;
    text-align: center;
}

.table-one{
 
    padding: 15px;
    margin-left: 405px;
    margin-bottom: 20px;
    margin-top: 50px;
    border: 2px groove black;
    width: 500px;
    /* border-collapse: collapse; */
    
    
}

.table-two{
 
    padding: 15px;
    margin-left: 350px;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 50%;
    border: 2px solid black;
    color: whitesmoke;
    column-width: 100%;
}
.table-two tbody{
    
    font-size: large;
    

}
.table-two thead{
    font-weight: bolder;
    font-size: larger;
    color: black;
    
}

th,td{
    padding: 10px;
    text-align: center;
   
}
 input{
   padding: 5px;
   border: 2px solid black;
  border-radius: 4px;

} 
  
::placeholder{
  
    opacity: 0.4;
    font-style: italic;
}
input:hover{
    background-color: rgb(235, 227, 227);
    cursor: pointer;
}
label{
    font-weight: bold;
    
    
}
select{
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
    margin: auto;
    border: 2px solid;
}

button{
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
    width: 100%;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 1px;
    background-color: rgb(7, 4, 34);
    color: whitesmoke;
    border-color: whitesmoke;
}
button:hover{
    cursor: pointer;
    background-color: rgb(17, 32, 114);
    border-color: black;
    color: black;
    border: 2px solid black;

}
option{
    font-weight: bold;
    
}




    
    
    
 





    




